/* Flex */
:root {
  --red: #db5461;
  --yellow: #f8f32b;
  --blue: #20a4f3;
  --orange: #f19a3e;
  --green: #2a9d8f;
  --purple: #9677de;
  --black: #000000;
  --white: #ffff;
  --gray: #696d7d;
  --gray-l: #ababab;
  --gray-ll: #e8e8e8;
  /* font weight */
  --wgt100: 100;
  --wgt300: 300;
  --wgt500: 500;
  /* padding */
  --ptb-1: 2px 3px 2px 15px;
}
body {
  font-family: 'Roboto';
}
a {
  all: unset;
  cursor: pointer;
}
p {
  font-weight: var(--wgt300);
}
h1 {
  font-weight: var(--wgt500);
  letter-spacing: 2px;
  font-size: 40px;
}

#container-1x {
  margin: 0rem 5rem;
}
#container-2x {
  margin: 0 10rem;
}
#container-3x {
  margin: 0 15rem;
}
#container-4x {
  margin: 0 20rem;
}
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.align-cent {
  align-items: center;
}
.justify-cent {
  justify-content: center;
}
/* ****** Space Between ******* */
.align-btw {
  align-items: space-between;
}
.justify-btw {
  justify-content: space-between;
}
/* ***** Flex-End ****** */
.align-end {
  align-items: flex-end;
}
.justify-end {
  justify-content: flex-end;
}
.full {
  width: 100vw;
}
/* Gap Spacing */
.sg-1x {
  gap: 1rem;
}
.sg-2x {
  gap: 2rem;
}
.sg-3x {
  gap: 3rem;
}
.sg-4x {
  gap: 4rem;
}
.sg-5x {
  gap: 5rem;
}
/* Spacing */
.sp-1x {
  margin: 5px 0;
}
.sp-2x {
  margin: 10px 0;
}
.sp-3x {
  margin: 15px 0;
}
.sp-4x {
  margin: 20px 0;
}

/* Padding Round */
.pd-1x {
  padding: 0.5rem;
}
.pd-2x {
  padding: 1rem;
}
.pd-3x {
  padding: 1.5rem;
}
.pd-4x {
  padding: 2rem;
}
.pd-5x {
  padding: 2.5rem;
}
/* Padding Left & Right */
.pdlr-1x {
  padding: 0 0.5rem;
}
.pdlr-2x {
  padding: 0 1rem;
}
.pdlr-3x {
  padding: 0 1.5rem;
}
.pdlr-4x {
  padding: 0 2rem;
}
.pdlr-5x {
  padding: 0 2.5rem;
}

/* *** Padding Top & Bottom ****** */
.pdtb-1x {
  padding: 0.5rem 0;
}
.pdtb-2x {
  padding: 1rem 0;
}
.pdtb-3x {
  padding: 1.5rem 0;
}
.pdtb-4x {
  padding: 2rem 0;
}
.pdtb-5x {
  padding: 2.5rem 0;
}

/* *Width */
.wdt-1x {
  width: 5rem;
}
.wdt-2x {
  width: 10rem;
}
.wdt-3x {
  width: 15rem;
}
.wdt-4x {
  width: 20rem;
}
.wdt-5x {
  width: 25rem;
}
/********** Color *************/

/* primary */
.col-red {
  color: var(--red);
}
.col-yellow {
  color: var(--yellow);
}
.col-blue {
  color: var(--blue);
}
/* secondary */
.col-orange {
  color: var(--orange);
}
.col-green {
  color: var(--green);
}
.col-purple {
  color: var(--purple);
}
/* monochrome*/
.col-black {
  color: var(--black);
}
.col-white {
  color: var(--white);
}
.col-gray {
  color: var(--gray);
}
.col-gray-l {
  color: var(--gray-l);
}

/* *************************************** */
.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-blue {
  color: var(--blue);
}
/* secondary */
.bg-orange {
  color: var(--orange);
}
.bg-green {
  color: var(--green);
}
.bg-purple {
  background-color: var(--purple);
}
/* monochrome*/
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-gray-l {
  background-color: var(--gray-l);
}
/* Border */
.bdr-1x {
  border: solid 1px;
  padding: var(--ptb-1);
  border-radius: 50px;
}
.bdr-2x {
  border: solid 2px;
  padding: var(--ptb-1);
  border-radius: 50px;
}
.bdr-3x {
  border: solid 3px;
  padding: var(--ptb-1);
  border-radius: 50px;
}
.bdr-4x {
  border: solid 4px;
  padding: var(--ptb-1);
  border-radius: 50px;
}
/* Text Align */
.txt-r {
  text-align: right;
}
.txt-l {
  text-align: left;
}
.txt-cent {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}

/* Border Radius */
.rad-1x {
  border-radius: 10px;
}
.rad-2x {
  border-radius: 20px;
}
.rad-3x {
  border-radius: 30px;
}
.rad-4x {
  border-radius: 40px;
}
.rad-5x {
  border-radius: 50px;
}
/* ***************** */
.btn {
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}
.media-disp {
  width: 10rem;
}

/* styles for tablet screens */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #container-1x {
    margin: 0 1rem;
  }
  #container-2x {
    margin: 0 2rem;
  }
  #container-3x {
    margin: 0 3rem;
  }
  #container-4x {
    margin: 0 4rem;
  }
  /* Spacing */
  .sp-1x {
    margin: 4px 0;
  }
  .sp-2x {
    margin: 8px 0;
  }
  .sp-3x {
    margin: 11px 0;
  }
  .sp-4x {
    margin: 14px 0;
  }
  /* Button */
  .btn {
    padding: 12px 15px;
  }
  /* *Width */
.wdt-1x {
    width: 3rem;
  }
  .wdt-2x {
    width: 6rem;
  }
  .wdt-3x {
    width: 10rem;
  }
  .wdt-4x {
    width: 16rem;
  }
  .wdt-5x {
    width: 20rem;
  }
}
/* styles for phone screens */
@media only screen and (max-width: 479px) {
  /* Container */
  #container-1x {
    margin: 0 0.5rem;
  }
  #container-2x {
    margin: 0 1rem;
  }
  #container-3x {
    margin: 0 1.5rem;
  }
  #container-4x {
    margin: 0 2rem;
  }
    /* *Width */
.wdt-1x {
    width: 3rem;
  }
  .wdt-2x {
    width: 6rem;
  }
  .wdt-3x {
    width: 10rem;
  }
  .wdt-4x {
    width: 16rem;
  }
  .wdt-5x {
    width: 20rem;
  }
}
