:root {
  --red: #db5461;
  --yellow: #f8f32b;
  --blue: #20a4f3;
  --orange: #f19a3e;
  --green: #2a9d8f;
  --purple: #9677de;
  --black: #000000;
  --white: #ffff;
  --gray: #696d7d;
  --gray-l: #ababab;
  --gray-ll: #e8e8e8;
  /* font weight */
  --wgt100: 100;
  --wgt300: 300;
  --wgt500: 500;
  /* ****Border, equal,start, end */
  --bdr-eq: 2px 15px 2px 15px;
  --bdr-start: 2px 15px 2px 3px;
  --bdr-end: 2px 3px 2px 15px;
  --blur: blur(5px);
  /* Radius */
  --rad-1x: 10px;
  --rad-2x: 20px;
  --rad-3x: 30px;
  --rad-4x: 40px;
  --rad-5x: 50px;
}

a {
  all: unset;
  cursor: pointer;
}
li{
  all: unset; 
}
.no-style{
  all: unset;
}
#container-1x {
  margin: 0rem 5rem;
}
#container-2x {
  margin: 0 10rem;
}
#container-3x {
  margin: 0 15rem;
}
#container-4x {
  margin: 0 20rem;
}
.grid{
  display:grid;
  place-items: center;
}
.grid-col-4x{
  grid-template-columns:repeat(4, 1fr);
}
.grid-rows-4x{
  grid-template-rows:repeat(4, 1fr);
}
.flex {
  display: flex;
}
.coln {
  flex-direction: column;
}
.align-cent {
  align-items: center;
}
.justify-cent  {
  justify-content: center;
}
/* ****** Space Between ******* */
.align-btw {
  align-items: space-between;
}
.justify-btw {
  justify-content: space-between;
}
/* ***** Flex-End ****** */
.align-end {
  align-items: flex-end;
}
.justify-end {
  justify-content: flex-end;
}
.full {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.vw100 {
  width: 100vh;

}
.vh100 {
  height: 100vh;
}
/* Gap Spacing */
.sg-1x {
  gap: 1rem;
}
.sg-2x {
  gap: 2rem;
}
.sg-3x {
  gap: 3rem;
}
.sg-4x {
  gap: 4rem;
}
.sg-5x {
  gap: 5rem;
}
/* Spacing */
.splr-1x {
  margin: 0 5px;
}
.splr-2x {
  margin: 0 10px;
}
.splr-3x {
  margin: 0 15px;
}
.splr-4x {
  margin: 0 20px;
}
.splr-5x {
  margin: 0 25px;
}

.sp-1x {
  margin: 5px 0;
}
.sp-2x {
  margin: 10px 0;
}
.sp-3x {
  margin: 15px 0;
}
.sp-4x {
  margin: 20px 0;
}
.sp-5x {
  margin: 25px 0;
}

/* Padding Round */
.pd-1x {
  padding: 0.5rem;
}
.pd-2x {
  padding: 1rem;
}
.pd-3x {
  padding: 1.5rem;
}
.pd-4x {
  padding: 2rem;
}
.pd-5x {
  padding: 2.5rem;
}
/* Padding Left & Right */
.pdlr-1x {
  padding: 0 0.5rem;
}
.pdlr-2x {
  padding: 0 1rem;
}
.pdlr-3x {
  padding: 0 1.5rem;
}
.pdlr-4x {
  padding: 0 2rem;
}
.pdlr-5x {
  padding: 0 2.5rem;
}

/* *** Padding Top & Bottom ****** */
.pdtb-1x {
  padding: 0.5rem 0;
}
.pdtb-2x {
  padding: 1rem 0;
}
.pdtb-3x {
  padding: 1.5rem 0;
}
.pdtb-4x {
  padding: 2rem 0;
}
.pdtb-5x {
  padding: 2.5rem 0;
}

/* *Width */
.wdt-1x {
  width: 2rem;
}
.wdt-2x {
  width: 5rem;
}
.wdt-3x {
  width: 10rem;
}
.wdt-4x {
  width: 15rem;
}
.wdt-5x {
  width: 20rem;
}
.wdt-6x {
  width: 25rem;
}
/* *Height */
.hgt-1x {
  height: 2rem;
}
.hgt-2x {
  height: 5rem;
}
.hgt-3x {
  height: 10rem;
}
.hgt-4x {
  height: 15rem;
}
.hgt-5x {
  height: 20rem;
}
.hgt-6x {
  height: 25rem;
}
/********** Color *************/

/* primary */
.col-red {
  color: var(--red);
}
.col-yellow {
  color: var(--yellow);
}
.col-blue {
  color: var(--blue);
}
/* secondary */
.col-orange {
  color: var(--orange);
}
.col-green {
  color: var(--green);
}
.col-purple {
  color: var(--purple);
}
/* monochrome*/
.col-black {
  color: var(--black);
}
.col-white {
  color: var(--white);
}
.col-gray {
  color: var(--gray);
}
.col-gray-l {
  color: var(--gray-l);
}
.col-gray-ll {
  color: var(--gray-ll);
}

/* *************************************** */
.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-blue {
  color: var(--blue);
}
/* secondary */
.bg-orange {
  color: var(--orange);
}
.bg-green {
  color: var(--green);
}
.bg-purple {
  background-color: var(--purple);
}
/* monochrome*/
.bg-black {
  background-color: var(--black);
}
.bg-white {
  background-color: var(--white);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-gray-l {
  background-color: var(--gray-l);
}
.bg-gray-ll {
  color: var(--gray-ll);
}
/****** Border ******/
/* Border Style*/
/* Border Solid */
.bdr-sol-1x {
  border: solid 1px;
}
.bdr-sol-2x {
  border: solid 2px;
}
.bdr-sol-3x {
  border: solid 3px;
}
.bdr-sol-4x {
  border: solid 4px;
}
/* Border-Start */
.bdr-dot-1x {
  border: dotted 1px;
}
.bdr-start-2x {
  border: dotted 2px;
}
.bdr-dot-3x {
  border: dotted 3px;
}
.bdr-dot-4x {
  border: dotted 4px;
}
/* Border end */
.bdr-dash-1x {
  border: dashed 1px;
}
.bdr-dash-2x {
  border: dashed 2px;
}
.bdr-dash-3x {
  border: dashed 3px;
}
.bdr-dash-4x {
  border: dashed 4px;
}
/* Border Style*/
.bdr-eq {
  padding: var(--bdr-eq);
}
.bdr-start {
  padding: var(--bdr-start);
}
.bdr-end {
  padding: var(--bdr-end);
}
/* Text Align */
.txt-r {
  text-align: right;
}
.txt-l {
  text-align: left;
}
.txt-cent {
  text-align: center;
}
.txt-justify {
  text-align: justify;
}

/* Border Radius */
.rad-1x {
  border-radius: var(--rad-1x);
}
.rad-2x {
  border-radius: var(--rad-2x);
}
.rad-3x {
  border-radius: var(--rad-3x);
}
.rad-4x {
  border-radius: var(--rad-4x);
}
.rad-5x {
  border-radius: var(--rad-5x);
}
